/* hero section */
.text >h2, .text >p{
  position: relative;
  text-align: center;
  vertical-align: middle;
  top: 360px;
}
.one img {
  max-width: 300px;
  margin: auto;
}
.swiper{
  max-width: 900px;
  max-height: 600px;
  margin: auto;
}
@media (max-width:1000px) {
  .one img {
    max-width: 300px;
    margin: auto;
  }
  .swiper{
    max-width: 500px;
    max-height: 600px;
    margin: auto;
  }
}
